# List tasks

---
## Task1:
Scenario: Inventory system A small shop keeps a list of product names: ["pencil", "notebook", "eraser", "marker"].  
Add two new products at the end.  
Insert a product at position 2.  
Explain why a list is appropriate here

In [19]:
products = ["pencil", "notebook", "eraser", "marker"]
products.extend(["ruler", "ballpoint"])
products.insert(2, "pointer")
print(products) 

#A list is appropriate because it is ordered, changeable (mutable), allows duplicates, and items can be added or inserted at specific positions.

['pencil', 'notebook', 'pointer', 'eraser', 'marker', 'ruler', 'ballpoint']

---
## Task2: Data slicing & indexing  
Given: temps = [23, 25, 19, 30, 21, 22]  
Access the first, last, and second-to-last items.  
Slice the list to get the middle four values.  
Using negative indexing, get the item “21”.

In [20]:
temps = [23, 25, 19, 30, 21, 22]
print("1st:",temps[0],"then last:",temps[5],"then 2nd last:",temps[-2])
print("middle four letters",temps[1:5])
print("21 by negative indexing:",temps[-2])

1st: 23 then last: 22 then 2nd last: 21
middle four letters [25, 19, 30, 21]
21 by negative indexing: 21

---
## Task3: Nested lists and heterogeneous data  
Create a list representing three students:  
each student is itself a list containing [name, roll_number, grades_list]. Example: ["Ali", 101, [80, 90, 85]].
Build for 3 students.  
Change one student’s second grade.  
Add a fourth grade to one student’s grades_list.

In [21]:
students = [
    ["Ali", 101, [80, 90, 85]],
    ["Sara", 102, [75, 85, 80]],
    ["Omar", 103, [90, 88, 92]]]

students[1][2][1] = 95
students[0][2].append(95)
students

[['Ali', 101, [80, 90, 85, 95]],
 ['Sara', 102, [75, 95, 80]],
 ['Omar', 103, [90, 88, 92]]]

---
## Task4:  List mutator methods   
Given: colours = ["red", "green", "blue"]  
Use .append() to add “yellow”.  
Use .extend() to add ["purple", "orange"].  
Use .insert() to insert “black” at index 1.  
Use .remove() to remove “green”.  
Use .pop() to remove the last item and print it.  
Print the final list.

In [22]:
colours = ["red", "green", "blue"]
colours.append("yellow")
colours

['red', 'green', 'blue', 'yellow']

In [23]:
colours = ["red", "green", "blue"]
colours.extend(["purple", "orange"])
colours

['red', 'green', 'blue', 'purple', 'orange']

In [24]:

colours = ["red", "green", "blue"]
colours.append("yellow")
colours.extend(["purple","orange"])
colours.insert(1,"black")
colours.remove("green")
print(colours)
colours.pop()
print(colours)

['red', 'black', 'blue', 'yellow', 'purple', 'orange']
['red', 'black', 'blue', 'yellow', 'purple']

---
## Task5: Using operators and built-in functions
Let numbers = [5, 10, 15, 20].  
Use the in operator to check if 15 is in the list.  
Use + to concatenate [25, 30] to numbers.  
Use *2 to produce a new list repeating numbers twice.  
Use len(), min(), max(), and sum() on numbers

In [25]:
numbers = [5, 10, 15, 20]
print(15 in numbers)
print("after concatination",numbers + [25, 30])
print("after using *2:",numbers * 2)
print(len(numbers))
print("minimum no",min(numbers))
print("max is",max(numbers))
sum(numbers)

True
after concatination [5, 10, 15, 20, 25, 30]
after using *2: [5, 10, 15, 20, 5, 10, 15, 20]
4
minimum no 5
max is 20

50

---
## Task6: List comprehensions & conversion  
You have a tuple: values = (2, 4, 6, 8, 10).  
Convert the tuple to a list.  
Then use a list comprehension to produce a list where each value is squared.  
Filter this to include squared values greater than 30.  
Print the resulting list.

In [26]:
values = (2, 4, 6, 8, 10)
values_list = list(values)
[v**2 for v in values_list if v**2 > 30]

[36, 64, 100]

---
# Tuple tasks

---
## Task1:Scenario: Fixed configuration
You store configuration data for a device: device = ("device01", "192.168.1.10", 8080, True)  
Access each element by index.  
Attempt to change the port value (8080) to 9090; catch the error and explain why it happens.  
Convert the tuple into a list, modify the port to 9090, then convert back into a tuple.

In [27]:
data=("device01", "192.168.1.10", 8080, True)
print("device number: ",data[0])
print("IP is:",data[1])
print("port value is:",data[2])
print("Status :",data[3])
#data[2]=9090  #TypeError: 'tuple' object does not support item assignment
#This happens beacause tuples are immutable
inlist=list(data)
inlist[2]=9090
print(tuple(inlist))

device number:  device01
IP is: 192.168.1.10
port value is: 8080
Status : True
('device01', '192.168.1.10', 9090, True)

---
## Task 2:Creating tuples & single-element tuple nuance
Create a tuple single = (5,).  
Create not_tuple = (5) and show its type.  
Create t = tuple(range(5)).  
Print it.

In [28]:
st=(3,)
nottuple=(3)
print(type(nottuple))
t=tuple(range(5))
print(t)

<class 'int'>
(0, 1, 2, 3, 4)

---
## Task 3: Indexing, slicing, negative indices  
Let weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun").  
Access the first and last day.  
Use slicing to get "Wed", "Thu", "Fri".  
Use negative indexing to get “Sat”.

In [29]:
weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
print("1st day is:",weekdays[0]," and last day is:",weekdays[-1])
print("slicing",weekdays[2:5])
print(weekdays[-2])

1st day is: Mon  and last day is: Sun
slicing ('Wed', 'Thu', 'Fri')
Sat

---
## Task 4: Nested tuples & mixing
Create a tuple: data = ("UserA", (2023, 9, 15), ["task1", "task2"]).  
Access the date tuple and print year, month, day.  
Access the list of tasks and add a task to it.   
Explain how a mutable item in an immutable tuple can be modified.

In [30]:
data = ("UserA", (2023, 9, 15), ["task1", "task2"])
print("year :",data[1][0],"month :",data[1][1],"day :",data[1][2])
#accessing and modifing mutable list in immutable tuple
data[2].append('task3')
print(data[2])

year : 2023 month : 9 day : 15
['task1', 'task2', 'task3']

---
## Task 5:Packing & unpacking
Given: point = (10, 20, 30)  
Unpack into x, y, z.  
Swap x and z in one line using tuple unpacking.  
Pack x, y, z back into a tuple point2.  
Print both point and point2.

In [31]:
point = (10, 20, 30)
x,y,z=point
print("x :",x,"y :",y,"z :",z)
x,z=z,x
print("x :",x,"z :",z)
point2=(x,y,z)
print("point : ",point)
print("point2 : ",point2)

x : 10 y : 20 z : 30
x : 30 z : 10
point :  (10, 20, 30)
point2 :  (30, 20, 10)

---
## Task 6:Scenario: Choosing tuple vs list  
You need to store the months of the year as a fixed sequence.  
Define months as a tuple.  
Explain in comments why tuple is better than list here.  
Try to append a month and show the error.  
Convert to list if you really needed to change it.

In [32]:
months=("jan","feb","march","april","may","june","july","august","sep","oct","nov","dec")
#here tuple is better bcz months names are fixed further we have no need to change it 
#months.append("happy new year") 
#months is a tuple and tuple is immutable so error->AttributeError: 'tuple' object has no attribute 'append'
monthlist=list(months)
monthlist.append("happy new year")
print(monthlist)

['jan', 'feb', 'march', 'april', 'may', 'june', 'july', 'august', 'sep', 'oct', 'nov', 'dec', 'happy new year']

---
## Task 7: Operators & built-in functions with tuples  
Let nums = (3, 6, 9, 12)  
Use in and not in to test membership.  
Concatenate nums + (15, 18).  
Multiply nums * 3.  
Use len(), min(), max(), sum() on the tuple.

In [33]:
nums = (3, 6, 9, 12)
#in
print(6 in nums)
print(10 in nums)
#not in
print(6 not in nums)
print(10 not in nums)
#concatenate
print(nums+(15,18))
#multiply
print(nums*3)
#len,min,max
print("length=",len(nums),"minimum=",min(nums),"maximum=",max(nums))
#sum
sum(nums)

True
False
False
True
(3, 6, 9, 12, 15, 18)
(3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12)
length= 4 minimum= 3 maximum= 12

30